body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

    background-color: #F1F4F9;
}

.input-box{
    border-radius: 8px;


    width: 1300px;
    height: 200px;

    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

}

#create-todo{
    width: 250px;
    height: 45px;
    
    border: none;
    border: 1px solid #9e9797;
    border-radius: 8px;

    background-color: #F1F4F9;
}

.create-button{
    background-color: #07B7CF;

    width: 75px;
    height: 50px;

    border: none;
    border-radius: 8px;

    color: white;
}

.create-button:hover{
    background-color: #1497a8;
}

.todo-list{
    border-radius: 8px;


    width: 1300px;
    height: 200px;

    display: flex;
    justify-content: space-around;

    padding-top: 20px;
    padding-bottom: 20px;
}

.todo-area{
    width: 250px;
    height: 100%;
}

.inprogress-area{
    width: 250px;
    height: 100%;
}

.closed-area{
    width: 250px;
    height: 100%;
}

.todo-header{
    width: 100%;
    height: 50px;
    background-color: #64748D;
    border-radius: 8px;
    color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;

    padding-left: 20px;
    gap: 8px;
}

.inprogress-header{
    width: 100%;
    height: 50px;
    background-color: #A755F7;
    border-radius: 8px;
    color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;

    padding-left: 20px;
    gap: 5px;
}

.closed-header{
    width: 100%;
    height: 50px;
    background-color: #22C45D;
    border-radius: 8px;
    color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;

    padding-left: 20px;
    gap: 5px;
}

.todo-count{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}
.inprogress-count{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}
.closed-count{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{

    position: relative;

    width: 100%;
    height: 60px;

    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid #ddd;
    border-top: none;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding-left: 16px;

    box-sizing: border-box;
}

.change-status{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 18px;
    height: 18px;
    border: 1px solid #8b8b8b;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 9px;
}